.home{
    background-color:   #F5F5F7;
    height: 93vh;
    width: 100%;
    position: relative;
}

.warp-home{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -161px;
}

.img h1 {
    font-size: 50px;
    font-weight: bold;
}

.content-home {
    font-size: 20px;
    font-weight: 600;
}